<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>inlineStyle</title>
</head>
<body>
<header>
	<hgroup>
		<h1>인라인 스타일시트 적용 연습 페이지</h1>
		<h3>태그에 style 속성을 사용해서, 직접 css를 적용하는 방식</h3>
	</hgroup>
</header>
<hr>
<section>
	<h4 style="color:red;font-size:36pt;font-family:궁서체;">인라인 스타일시트는 일회용임</h4>
	<p style="box-shadow:2px 2px 10px black;width:500px;height:150px;background-color:orange;border:2px solid green;border-radius:50px;">
		모든 html 태그에 사용할 수 있는 속성이 있음 <br>
		<ul>
			<li>id="아이디명", 이 문서 안에서 유일해야 함</li>
			<li>class="클래스명" 또는 class="클래스명 하위클래스명", 하나의 그룹을 묶어줄 때 이용함, 
			여러 태그에 같은 클래스명 사용 가능함</li>
			<li>style="속성:값;속성:값;...."</li>
			<li>name="이름"</li>
		</ul>
	</p>
</section>


</body>
</html>








